.env
.env.local

# Node / JS
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Python
venv/
.venv/
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg-info/
*.dist-info/
build/
dist/
.pytest_cache/
.mypy_cache/
.coverage
.coverage.*

# Serverless
.serverless/

# Editor / OS
.vscode/
.idea/
.DS_Store
Thumbs.db

# Logs
*.log

# Docker
# .dockerignore ← テンプレのため今回はignoreには含まない 
